# Google Colab Tutorial

In [ ]:
# Upload file from local
from google.colab import files
uploaded = files.upload()

In [1]:
# Import from Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Pandas Basic

In [2]:
# Import dataset
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/Implementation/Supervised ML/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Implementation/Supervised ML/test.csv')

In [3]:
# Show top 5 data
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Show top 5 data
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
# Show last 5 data
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
# Show last n data
train.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
# Check data basic information
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
# Summary statistics of a DataFrame
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Data Cleaning

In [9]:
train = train.drop(['Name', 'Ticket', 'Cabin'], axis=1)
test = test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [10]:
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64
PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [11]:
age_mean = train['Age'].mean()
fare_mean = train['Fare'].mean()

train['Age'].fillna(age_mean, inplace=True)
train['Fare'].fillna(age_mean, inplace=True)

test['Age'].fillna(age_mean, inplace=True)
test['Fare'].fillna(age_mean, inplace=True)

train = train.dropna()
test = test.dropna()

print(train.isnull().sum())
print(test.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [12]:
print(train.shape)
print(test.shape)

(889, 9)
(418, 8)

In [ ]:
cleaned_train = train.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/cleaned_train.csv', index=False, header=True)
cleaned_test = test.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/cleaned_test.csv', index=False, header=True)

# Data Preprocessing

In [13]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/Implementation/Supervised ML/cleaned_train.csv')
test = pd.read_csv('/content/drive/MyDrive/Implementation/Supervised ML/cleaned_test.csv')

In [14]:
from sklearn.preprocessing import LabelEncoder

train = pd.DataFrame(train)
test = pd.DataFrame(test)

for col in ['Sex', 'Embarked']:
  le = LabelEncoder()
  train[col] = le.fit_transform(train[col])

for col in ['Sex', 'Embarked']:
  le = LabelEncoder()
  test[col] = le.fit_transform(test[col])

In [15]:
X = train.drop('Survived', axis=1)
y = train['Survived']

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Train by Logistic Regression

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics 
from sklearn.metrics import accuracy_score

model = LogisticRegression(fit_intercept=True, max_iter=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.7752808988764045

In [ ]:
pred = model.predict(test)
predd = pd.DataFrame({"PassengerId": test["PassengerId"], "Survived": pred})
predd.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/Survived_predition_LR.csv', index=False, header=True)

# Train by SVM

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.2, random_state = 42)

In [20]:
from sklearn.svm import SVC
from sklearn import metrics 
from sklearn.metrics import accuracy_score

model = SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8089887640449438

In [ ]:
pred = model.predict(test)
predd = pd.DataFrame({"PassengerId": test["PassengerId"], "Survived": pred})
predd.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/Survived_predition_SVM.csv', index=False, header=True)

# Train by SVM and GridSearchCV

In [21]:
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import GridSearchCV

C_range = np.logspace(-2, 2, 5)
gamma_range = np.logspace(-3, 1, 5)
param_grid = dict(gamma=gamma_range, C=C_range)
cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
grid = GridSearchCV(SVC(), param_grid=param_grid, cv=cv, n_jobs=-1)
grid.fit(X_train, y_train)

print("Best parameter: %s"% (grid.best_params_))
print("Best score: %0.2f"% (grid.best_score_))

print(C_range)
print(gamma_range)

Best parameter: {'C': 1.0, 'gamma': 0.1}
Best score: 0.81
[1.e-02 1.e-01 1.e+00 1.e+01 1.e+02]
[1.e-03 1.e-02 1.e-01 1.e+00 1.e+01]

In [22]:
from sklearn import metrics 
from sklearn.metrics import accuracy_score

best_C = float(grid.best_params_['C'])
best_gamma = float(grid.best_params_['gamma'])
model = SVC(C=best_C, gamma=best_gamma)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8202247191011236

In [23]:
# RandomSearchCV
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics 
from sklearn.metrics import accuracy_score

params = {
    'C': np.logspace(-2, 2, 5), 
    'gamma': np.logspace(-3, 1, 5)
}

cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
rs = RandomizedSearchCV(estimator=SVC(), param_distributions=params, scoring='accuracy',
                        n_iter=100, cv=cv, random_state=42, n_jobs=-1)
rs.fit(X_train, y_train)

print("Best parameter: %s"% (rs.best_params_))
print("Best score: %0.2f"% (rs.best_score_))

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_search.py:305: UserWarning: The total space of parameters 25 is smaller than n_iter=100. Running 25 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best parameter: {'gamma': 0.1, 'C': 1.0}
Best score: 0.81

In [24]:
best_C = float(rs.best_params_['C'])
best_gamma = float(rs.best_params_['gamma'])
best_model = rs.best_estimator_
y_pred = best_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8202247191011236

In [ ]:
pred = model.predict(test)
predd = pd.DataFrame({"PassengerId": test["PassengerId"], "Survived": pred})
predd.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/Survived_predition_GSSVM.csv', index=False, header=True)

# Train by XGBoost and GridSearchCV

In [25]:
import xgboost as xgb
from sklearn import metrics 
from sklearn.metrics import accuracy_score

model = xgb.XGBClassifier(objective='binary:logistic', learning_rate=0.5, max_depth=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.797752808988764

In [26]:
# GridSearch CV
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [2, 3, 4, 5],
              'learning_rate': [0.01, 0.05, 0.1, 0.5],
              'n_estimators': [50, 100, 200, 500],
              'gamma': [0, 0.1, 0.2, 0.3, 0.4]}
cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
grid = GridSearchCV(model, param_grid=param_grid, cv=cv, n_jobs=-1)
grid.fit(X_train, y_train)

print("Best parameter: %s"% (grid.best_params_))
print("Best score: %0.2f"% (grid.best_score_))

best_model = grid.best_estimator_
y_pred = best_model.predict(X_test)

from sklearn import metrics 
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

Best parameter: {'gamma': 0, 'learning_rate': 0.05, 'max_depth': 2, 'n_estimators': 100}
Best score: 0.82
0.8202247191011236

In [27]:
# RandomSearchCV
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics 
from sklearn.metrics import accuracy_score

params = {
    'learning_rate': np.linspace(0.01, 0.2, num=10), #  0.01  0.2 
    'max_depth': np.arange(3, 11),                   #  3  10 
    'min_child_weight': np.arange(1, 11),
    'subsample': np.linspace(0.5, 1.0, num=6),
    'colsample_bytree': np.linspace(0.5, 1.0, num=6),
    'gamma': np.linspace(0, 1.0, num=11),
    'reg_alpha': np.linspace(0, 1.0, num=11),
    'reg_lambda': np.linspace(0, 1.0, num=11)
}

cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
rs = RandomizedSearchCV(estimator=model, param_distributions=params, scoring='accuracy',
                        n_iter=100, cv=cv, random_state=42, n_jobs=-1)
rs.fit(X_train, y_train)

print("Best parameter: %s"% (rs.best_params_))
print("Best score: %0.2f"% (rs.best_score_))

best_model = rs.best_estimator_
y_pred = best_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

Best parameter: {'subsample': 0.9, 'reg_lambda': 0.9, 'reg_alpha': 0.5, 'min_child_weight': 1, 'max_depth': 10, 'learning_rate': 0.052222222222222225, 'gamma': 0.0, 'colsample_bytree': 0.6}
Best score: 0.83
0.8089887640449438

In [ ]:
pred = grid.predict(test)
predd = pd.DataFrame({"PassengerId": test["PassengerId"], "Survived": pred})
predd.to_csv('/content/drive/MyDrive/Implementation/Supervised ML/Survived_predition_GSXGB.csv', index=False, header=True)